/* Event List */
.wpccEventList {
	padding: 10px 0;
}

.cardInfo .wpccUpcomingEvent {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.wpccEventDate.dateCard{
	width: 50px;
	height: 65px;
	float:left;
	background: #eee;
	border-radius: 5px;
	margin-right: 15px;
	overflow:hidden;
}

	.wpccEventDate.dateCard .eventMonth {
		height: 20px;
		background:#666;
		display:block;
		text-align:center;
		color:#fff;
		font-size: 12px;
		text-transform:uppercase;
		line-height: 20px;
	}

	.wpccEventDate.dateCard .eventDay {
		text-align:center;
		font-size: 24px;
		text-align:center;
		display:block;
		letter-spacing: -1px;
		font-weight:bold;
		padding-top: 1px;
	}

	.wpccEventTitle h4 {
		font-size: 24px;
	}

	.cardInfo .wpccEventTitle p {
		font-size: 14px;
		line-height: 24px;
		margin-left: 65px;
		margin-bottom: 20px;
	}

	.cardInfo .wpccEventTitle span {
		margin-right: 20px;
		color: #444;
		white-space:nowrap;
	}

	.cardInfo .wpccEventTitle a {
		margin-right: 20px;
		color: #444;
		display:inline-block;
		white-space:nowrap;

	}

	.wpccEventTitle p i {
		margin-right: 2px;
		font-size: 16px;
	}

	.eventExtraInfo {
		background: #f6f6f6;
		border: 1px solid #eee;
		border-radius: 3px;
		padding: 10px;
		clear:both;
		margin-bottom: 20px;
		display:none;
	}

	.cardInfo .eventExtraInfo p {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.cardInfo .eventExtraInfo h5 {
		font-size: 21px;
		margin: 20px 0 0;
	}

	.cardInfo .wpccUpcomingEvent a.button {
		color:#fff;
		background:#666;
		transition: background ease .4s;
	}

	.cardInfo .wpccUpcomingEvent a.button:hover {
		background:#333;
	}

@media only screen and (min-width: 760px) {

	.cardInfo .wpccUpcomingEvent {
		position:relative;
		
		
	}

	.cardInfo .wpccUpcomingEvent a.button {
		position: absolute;
		top: 15px;
		right: 20px;
	}

	.cardInfo .wpccEventTitle  {
		margin-right: 160px;
	}

}